@font-face {
  font-family: "spacegrotesk";
  src: url("~@/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url("~@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
